/*
 *  DEF_MPK の mpksz を0にすると E_PAR（mpkszが0）
 *
 *  INCLUDEパス／EXTRA_CFLAGSの事情は dcre_aid_in_class.cfg と同じ。
 */
INCLUDE("test/test_common1.cfg");
#include "test_int2.h"
CLASS(CLS_PRC1) {
	CRE_TSK(TASK1, { TA_ACT, 1, task1, MID_PRIORITY, STACK_SIZE, NULL });
}
DEF_MPK({ 0, NULL });
